/* Style sheet optimized for IE4x - Last updated 2/9/99 */

body    		{ color: #000000;
		background: #FFFFFF;  	
		font-size: 70%;    		
		font-family: Verdana, Arial, Helvetica, Sans Serif }

a:link	 	{ color: "#0000FF"; text-decoration:"underline";}

a:visited 	{ color: "#660000"; text-decoration:"underline";}

a:active, a:hover 	{ color: "#FF0000";  cursor:hand; text-decoration:"underline";}

h1
		{ font-size: 145%; 
		margin-bottom:" .5em"; clear:both; }

h2
		{ font-size: 130%;  
		margin-top: 1.5em;
		margin-bottom:" .5em"; clear:both; }

h3
		{ font-size: 115%; 
		margin-top: 1.2em;  
		margin-bottom: ".5em"; clear:both; }

h4
		{ font-size: 100%; 
		margin-top: "1.2em";  
		margin-bottom: ".5em"; clear:both; }

h5
		{ font-size: 85%; 
		margin-top: "1.2em";  
		margin-bottom: ".5em"; clear:both; }

p
		{ margin-top:" .6em"; 
		margin-bottom: ".6em"; }
			
ol
		{ margin-top: ".5em"; 
		margin-bottom: 0; 
		margin-left: "2.1em"; 
		padding-left: "0em"; }
	
ul
		{ margin-top: ".6em"; 	
		margin-bottom: 0;
		list-style-type: disc;
		margin-left: "1.5em";
		padding-left: "0em"; }
		
li
		{ margin-bottom: ".7em"; clear:both; }

dd
		{ margin-bottom: 0; 
		margin-left: "1.5em"; }

em
		{ color: "#FF0000"; } 

/* for defined terms, follow the "Document Conventions" listing in the Microsoft Manual of Style: */
/* Keywords, functions, and anything else the user must enter exactly as shown are bold--add "font-weight: bold;" to the dt tag */
/* Variables, book titles, and placeholders the user must provide are italic--add "font-style: italic;" to the dt tag */
/* pre-defined arguments are bold and italic--add "font-weight: bold;" and "font-style: italic;" to the dt tag */

dt
		{ margin-top: "2em"; }

pre
		{ margin-top: "1.2em";
		margin-bottom: "1.5em"; }

code
		{ font-family: Courier New; 
		font-size: 125% }

table
		{ font-size: 100%;
		margin-top: "1em"; 
		margin-bottom: "1em"; 
		cellpadding: "0.5em"; }
		
th
		{ text-align: left;
		background: #DDDDDD;
		vertical-align: bottom;}
		
tr
		{ vertical-align: top; }

td
		{ background: #EEEEEE;
		vertical-align: top; }


/****      extended class styles ************************/
/*                       					*/
/* add comment tags to disable the style 		*/

p.indent		{ margin-left: "2em"; }       /* this class style is used to indent text for notes and warnings; use this instead of the blockquote tag */

p.indent2		{ margin-left: "3.5em"; }   /* this class style is used to indent text a second level under the first  indent */
		
p.proclabel	{ font-size: 100%; 	
		font-weight: bold; clear: both; }
th.plain	{ background: #FFFFFF; font-weight: normal; vertical-align: top;}
td.plain	{ background: #FFFFFF; vertical-align: top;}

td.banner	{ background: #3399FF;}

/**************************************************************************************************************/
/* these class styles are used for the expanding and collapsing text files (expand function in shared.js)  */

#expand 			{margin-bottom: "0.6em";}

a:link.expandToggle, a:visited.expandToggle 	{color:"#000000"; font-weight: bold;  text-decoration:none;}

a:hover.expandToggle, a:active.expandToggle 	{color:"#0000FF";}
 
img.expand 		{ border: none; width:".8em"; margin-right:"0.5em";}
		
div.expand		{ margin-left: "1.5em"; margin-bottom: "1em"; display:none }


p.empty			{ font-weight: bold; }

span.empty		{ font-weight: bold; margin-bottom: 12; margin-left: 16 }

/*******************************************/
/*  these classes are for thumbnail art      */

a:link img.thumbnail		{border-color: "#0000FF";}

a:active img.thumbnail	{ border-color: "#FF0000";}

a:hover img.thumbnail	{border-color: "#FF0000";}
		 
div.thumbnail		{float:left; left:0}
		

/*********************************************/				
/* this class style is used for the navigation tree in MMC */
		
p.navTree		{ margin-top:" .2em"; }

ul.navTree 	{list-style-image: url(MS-ITS:ntshared.chm::/elle.gif);
		 list-style-type: none; margin-left:"2em"; }

li.branch		{ margin-top:" -.5em"; margin-bottom: ".6em"; }

a.where			{}	/* use for the expand <a> tag 

/***************************************************************/
/* these class styles are used for <span> tags  simulating buttons & their div */

.button		{ border-top-color: "#000000";
		  border-left-color: "#000000";
		  border-bottom-color: "#666666";
		  border-right-color: "#666666";
		  background-color: "#dddddd";
		}
.push		{ border-top-color: "#666666";
		  border-left-color: "#666666";
		  border-bottom-color: "#000000";
		  border-right-color: "#000000";
		  background-color: "#FFFFFF";
		}

#buttonDiv	{ padding: 0.5em 0.3em 0.1em 0.3em;
		  border-bottom: thin groove #808080;
		  background: "#C0C0C0";
		  align:top;
		  }
/************************************************/
/* class styles reserved for mouseover/mouseout DHTML   */

.cold		{}
.hot		{}

/**********************************************************************/
/* ID styles reserved for <a> tags  calling OCX's within HTML Help by creating  OBJECTS */


#wPopup		{}

a:link#wPopup		{color: "#006600";}
a:hover#wPopup		{color: "#FF0000";}
a:active#wPopup		{color: "#FF0000";}
a:visited#wPopup		{color: "#006600";}

img.popup 	{border: none; margin-right: "0.5em"; vertical-align:middle;}

#shortcut		{}

img.shortcut 	{border: none; margin-right: "0.5em"; vertical-align:middle;}

#specLoc		{}

#relTopics		{}

p.relTopics img 	{vertical-align:top;}	 /* img is class=alert */

#altLoc		{}

p.note,p.tip, p.important, p.caution, p.warning 
		{ font-weight:bold; clear:both;
		 margin-top:"1em"; 
		 margin-bottom:"-.25em"; }    

img.alert		{border:none;} 		 /* for icon images - note, tip, important, caution, warning*/

/******************************************************************************/
/*GLOSSARY: FULL AND POPUP					      							  */
/******************************************************************************/
#popup					{ text-decoration: underline;
						  color: #008000; cursor:hand}

#In_Popup				{ text-decoration: underline;
						  color: #008000; cursor:hand}

.popup					{ text-decoration: none; }

.poplink				{ text-decoration: none; }	


/***********************************/
/*   Style for print only functionality used with external URL link   coUA_print.css*/

span.printOnly	{display:none }

/***********************************/
/*   Styles for checklists   */

.userData 		{behavior:url(#default#userdata); }  /*sets persistance*/

#checklist		{width:100%;  text-align:left; margin:"0.3em 0em";}

#checklist li 	{text-indent:"0.2em";}

/*********************************/				
/*  these classes are for previous next navigation     */

a:hover.navbar, a:active.navbar		{} /* text in nav */
a:link.navbar, a:visited.navbar		{}
			  
#nav	{ left:0; top:0px;
	  text-align:left; 
	  margin:0; 
	  position:absolute;
	  padding-bottom: 1px; padding-top: 3px;
	  padding-right:6px; padding-left:5px;
	  align:top;
	  visibility:hidden;
	  z-index:1;  }

#text	{ left:0; top:0px;
	   text-align:left;
	   margin:0; 
	   position:absolute;
	   padding:10px;
	   overflow:auto;
	   height:100%;
	   z-index:1; 
         	   background-repeat:no-repeat;
	   background-position: bottom right;
	   background-attachment:fixed; }


/***************************************************/
/* STYLES USED IN THE WEB DELIVERABLE ONLY  */


/***********************************/
/*   links   */

#wPopupWeb	{}

a:link#wPopupWeb			{color: "#006600";}
a:hover#wPopupWeb		{color: "#FF0000";}
a:active#wPopupWeb		{color: "#FF0000";}
a:visited#wPopupWeb		{color: "#006600";}

#shortcutWeb	{}

#specLocWeb	{}

#relTopicsWeb	{}

#altLocWeb	{}


/***********************************/
/*   popups   */

div.popup		{ visibility:hidden; z-index:3;
				 position:absolute; 
                 top:200; left:200; 
                 width:"250"; padding:"6px"; 
                 background-color:#FFFFCC;
                 border-style: solid;
                 border-width: 1;
                 border-color: #666666;
                                      }


/***********************************/
/*   XML art   */
div.artstyle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #000000; font-style: normal; line-height: normal; font-weight: normal}

.thumbnail {cursor:hand; }
 
.thumbnailImage {border-style:solid; border-width:1px; border-color:blue}
.large {cursor:hand; }


/***************************************************************/
/* Added by davesw for single-page glossary application 10/16/00 */
/* these class styles are used for <span> tags  simulating buttons & their div */

#buttonMenu	{ padding:  0.5em 0.3em 0.1em 0.3em;
			  padding-left:6px;
			  border-bottom: thin solid #999999;
			  background: #999999;
			  color: #0000FF;
			  font-weight: "bold";
			  vertical-align:top;
			  z-index:2;
			  visibility:visible;
			  left:0; top:0; 
			  text-align:left;
			  margin:"0 1em 0 0"; 
			  position:absolute;
			  width: "100%";
			  }
					  
a:link.button, a:visited.button, span.button {
			  border-top-color: #EEEEEE ;
			  border-left-color: #EEEEEE ;
			  border-bottom-color: #666666 ;
			  border-right-color: #666666 ;
			  background-color: #DDDDDD ;
			  color:#0000FF;
			  text-decoration: "none";
			  text-align: "center";
			  font-weight: "bold" ;
			  height:"1.5em"; width:"17px"; cursor:"hand";
			  border-style: "solid"; border-width: 1px;
			}
			
a:active.button, a:hover.button	{
			  border-top-color: #666666 ;
			  border-left-color: #666666 ;
			  border-bottom-color: #EEEEEE ;
			  border-right-color: #EEEEEE;
			  background-color: #BFBFBF
			  text-decoration: "none";
			  text-align: "center";
			  height:"1.5em"; width:"17px"; cursor:"hand";
			  border-style: "solid"; border-width: 1;
			  }

a:link.darken, a:visited.darken, span.darken {
			  border-top-color: #EEEEEE ;
			  border-left-color: #EEEEEE ;
			  border-bottom-color: #666666 ;
			  border-right-color: #666666 ;
			  background-color: #EOEOEO ;
			  color:#0000FF;
			  text-decoration: "none";
			  text-align: "center";
			  height:"1.5em"; width:"17px";
			  border-style: "solid"; border-width: 1px;
			}

			  
