<SCRIPT LANGUAGE='VBScript' DEFER>
<!--
	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'	BizDesk Framework: transfers xml to response.session.asp and returns response
	function xmlUpdateServerState(byRef xmlDOMDoc)
		dim bDebug, sDebugText, sDetails, iStart, iEnd
		
		bDebug = false
		sDebugText = "sent:" & vbCR & xmlDOMDoc.xml & vbCR

		on error resume next
		Set oXMLHTTPObj = CreateObject("MSXML2.XMLHTTP.2.6")
		bAsync = False
		oXMLHTTPObj.open "POST", "<%= g_sBizDeskRoot %>/include/response_session.asp", bAsync
		oXMLHTTPObj.send xmlDOMDoc
		if oXMLHTTPObj.status <> 200 then
			'parse if from the 500error.asp page
			' (this parses out everything but the error information)
			iStart = inStr(oXMLHTTPObj.responseText, "bderrordetails")
			if iStart > 0 then
				iStart = inStr(oXMLHTTPObj.responseText, "<li>")
				sDetails = mid(oXMLHTTPObj.responseText, iStart)
				iEnd = inStr(sDetails, "</TD>") - 1
				sDetails = left(sDetails, iEnd)
			else
				'not 500error.asp so display general error
				sDetails = L_ErrorsInPageLoad_ErrorMessage
			end if
			showErrorDlg L_HTTPError_HTMLTitle, L_ErrorPostingXML_ErrorMessage, sDetails, ERROR_ICON_ALERT
		elseif Err.number <> 0 then
			showErrorDlg L_HTTPError_HTMLTitle, L_ErrorPostingXML_ErrorMessage, sGetScriptError(Err), ERROR_ICON_ALERT
		end if
		sDebugText = sDebugText & "<b>status:</b><br>" & oXMLHTTPObj.status & " -- " & oXMLHTTPObj.statusText & "<p>"

		sDebugText = sDebugText & "<b>returned (text):</b><br>" & oXMLHTTPObj.responseText
		if bDebug then
			'shows sent and received
			showModalDialog "<%= g_sBizDeskRoot %>include/dlg_debug.htm", sDebugText, ""
		end if

		set xmlUpdateServerState = oXMLHTTPObj.responseXML
	end function

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	xmlGetXMLDOMDoc()
	'		returns an empty document
	'
	'	Arguments:	none
	'
	'	Returns:	xml document object with empty <document> documentElement
	'
	function xmlGetXMLDOMDoc()
		dim xmlDOMDoc
		set xmlDOMDoc = CreateObject("MSXML.DOMDocument")
		set xmlDOMDoc.documentElement = xmlDOMDoc.createElement("document")
		set xmlGetXMLDOMDoc = xmlDOMDoc
	end function

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	AddItemNode(xmlDoc, sName, sValue)
	'		adds an item node to the xml document with name and value set
	'
	'	Arguments:	xmlDoc		xml document node to add node to
	'				sName		string name
	'				sValue		string value
	'
	'	Returns:	xml document object with <document> documentElement
	'
	sub AddItemNode(byRef xmlDoc, byVal sName, byVal sValue)
		dim xmlDOMDoc, xmlItemNode
		set xmlDOMDoc = xmlDoc.ownerDocument
		set xmlItemNode = xmlDoc.appendChild(xmlDOMDoc.createElement("item"))
		xmlItemNode.setAttribute "name", sName
		xmlItemNode.setAttribute "value", sValue
	end sub

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	AddCDATANode(xmlDoc, sName, sValue)
	'		adds a CDATA type item node to the xml document with name and value set
	'
	'	Arguments:	xmlDoc		xml document node to add node to
	'				sName		string name
	'				sValue		string value
	'
	'	Returns:	xml document object with <document> documentElement
	'
	sub AddCDATANode(byRef xmlDoc, byVal sName, byVal sValue)
		dim xmlDOMDoc, xmlItemNode
		set xmlDOMDoc = xmlDoc.ownerDocument
		set xmlItemNode = xmlDoc.appendChild(xmlDOMDoc.createElement("item"))
		xmlItemNode.setAttribute "name", sName
		xmlItemNode.text = "<![CDATA[" & sValue & "]]>"
	end sub

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	ShowXMLNodeErrors(xmlErrorNodes)
	'		displays information from xml error nodes
	'
	'	Arguments:	xmlErrorNodes	xml node list to display
	'
	'	Returns:	none
	'
	sub ShowXMLNodeErrors(xmlErrorNodes)
		dim xmlErrorNode
		for each xmlErrorNode in xmlErrorNodes
			showErrorDlg "", xmlErrorNode.getAttribute("source"), replace(replace(xmlErrorNode.text, "<![CDATA[", ""), "]]>", ""), ERROR_ICON_ALERT
		next
	end sub

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	dDictFromXML(xmlDOMDoc)
	'		converts xml to dictionary; using child nodes of the document, each 
	'		name and value attribute becomes a key/value pair in the dictionary
	'
	'	Arguments:	xmlDOMDoc	xml Document to convert
	'
	'	Returns:				Dictionary representing xml Document contents
	'
	function dDictFromXML(byRef xmlDOMDoc)
		dim dDict, xmlItemNode, sName, sValue
		set dDict = CreateObject("Scripting.Dictionary")
		for each xmlItemNode in xmlDOMDoc.documentElement.childNodes
			sName = xmlItemNode.getAttribute("name")
			sValue = xmlItemNode.getAttribute("value")
			dDict.add sName, sValue
		next
		set dDictFromXML = dDict
	end function

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	xmlXMLFromDict(dDict)
	'		converts dictionary to xml; each key becomes a name attribute and 
	'		each value becomes a value attribute on child nodes of the document
	'
	'	Arguments:	dDict	Dictionary to convert
	'
	'	Returns:			xml Document representing dictionary contents
	'
	function xmlXMLFromDict(byRef dDict)
		dim xmlDOMDoc, xmlDoc, sKey, xmlItemNode
		set xmlDOMDoc = xmlGetXMLDOMDoc()
		set xmlDoc = xmlDOMDoc.documentElement
		for each sKey in dDict
			set xmlItemNode = xmlDoc.appendChild(xmlDOMDoc.createElement("item"))
			xmlItemNode.setAttribute "name", sKey
			xmlItemNode.setAttribute "value", dDict.item(sKey)
		next
		set xmlXMLFromDict = xmlDOMDoc
	end function

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	dSetServerState(sDictName, dServerState)
	'		transfers dictionary to session via HTTP/xml transfer and then either 
	'		creates or adds to an existing dictionary named sDictName the values
	'		stored in dServerState
	'
	'	Arguments:	sDictName		String name for dictionary to add to or create
	'				dServerState	Dictionary of state to save
	'
	'	Returns:					Dictionary for current session dictionary state
	'
	function dSetServerState(byVal sDictName, byRef dServerState)
		dim xmlDOMDoc, xmlDoc
		set xmlDOMDoc = xmlXMLFromDict(dServerState)
		set xmlDoc = xmlDOMDoc.documentElement
		xmlDoc.setAttribute "name", sDictName
		xmlDoc.setAttribute "op", "set"
		set xmlDOMDoc = xmlUpdateServerState(xmlDOMDoc)
		set dSetServerState = dDictFromXML(xmlDOMDoc)
	end function

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	dGetServerState(sDictName)
	'		retrieves dictionary named sDictName from session via HTTP/xml transfer 
	'
	'	Arguments:	sDictName		String name for dictionary to add to or create
	'
	'	Returns:					Dictionary for current session dictionary state
	'
	function dGetServerState(byVal sDictName)
		dim xmlDOMDoc, xmlDoc
		set xmlDOMDoc = xmlGetXMLDOMDoc()
		set xmlDoc = xmlDOMDoc.documentElement
		xmlDoc.setAttribute "name", sDictName
		xmlDoc.setAttribute "op", "get"
		set xmlDOMDoc = xmlUpdateServerState(xmlDOMDoc)
		set dGetServerState = dDictFromXML(xmlDOMDoc)
	end function

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	dClearServerState(sDictName)
	'		clears and then returns dictionary named sDictName from server 
	'		via HTTP/xml transfer 
	'
	'	Arguments:	sDictName		String name for dictionary to add to or create
	'
	'	Returns:					Dictionary (empty)
	'
	function dClearServerState(byVal sDictName)
		dim xmlDOMDoc, xmlDoc
		set xmlDOMDoc = xmlGetXMLDOMDoc()
		set xmlDoc = xmlDOMDoc.documentElement
		xmlDoc.setAttribute "name", sDictName
		xmlDoc.setAttribute "op", "clear"
		set xmlDOMDoc = xmlUpdateServerState(xmlDOMDoc)
		set dClearServerState = dDictFromXML(xmlDOMDoc)
	end function

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	xmlXMLFromForm(elForm)
	'		converts form elements to xml; each field name becomes a name attribute 
	'		and each field value becomes a value attribute on child nodes of the 
	'		document
	'
	'	Arguments:	elForm	HTML element of form to convert
	'
	'	Returns:			xml Document representing form contents
	'
	function xmlXMLFromForm(byRef elForm)
		dim xmlDOMDoc, xmlDoc, xmlItemNode, elField
		set xmlDOMDoc = xmlGetXMLDOMDoc()
		set xmlDoc = xmlDOMDoc.documentElement
		for each elField in elForm.elements
			if elField.name <> "" then
				if LCase(elField.getAttribute("type")) = "checkbox" or _
					LCase(elField.getAttribute("type")) = "radio" then
					if elField.checked then
						AddItemNode xmlDoc, elField.name, elField.value
					end if
				elseif elField.tagName = "select" then
					AddItemNode xmlDoc, elField.name, elField.options(elField.selectedIndex).value
				else
					AddItemNode xmlDoc, elField.name, elField.value
				end if
			end if
		next
		set xmlXMLFromForm = xmlDOMDoc
	end function

	'~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	'
	'	xmlPostFormViaXML(elForm)
	'		posts form via HTTP/xml transfer and then returns the xml from 
	'		the post action page
	'
	'	Arguments:	elForm	HTML element for form to post
	'
	'	Returns:			xml Document from post action page
	'
	function xmlPostFormViaXML(byRef elForm)
		dim xmlDOMDoc, bDebug, sDebugText, sDetails, iStart, iEnd
		
		bDebug = false
		set xmlDOMDoc = xmlXMLFromForm(elForm)
		sDebugText = "<b>sent:</b><br>" &  xmlDOMDoc.xml & "<p>"

		on error resume next
		Set oXMLHTTPObj = CreateObject("MSXML2.XMLHTTP.2.6")
		bAsync = False
		oXMLHTTPObj.open "POST", elForm.action, bAsync
		oXMLHTTPObj.send xmlDOMDoc
		if oXMLHTTPObj.status <> 200 then
			'parse if from the 500error.asp page
			' (this parses out everything but the error information)
			iStart = inStr(oXMLHTTPObj.responseText, "bderrordetails")
			if iStart > 0 then
				iStart = inStr(oXMLHTTPObj.responseText, "<li>")
				sDetails = mid(oXMLHTTPObj.responseText, iStart)
				iEnd = inStr(sDetails, "</TD>") - 1
				sDetails = left(sDetails, iEnd)
			else
				'not 500error.asp so display general error
				sDetails = L_ErrorsInPageLoad_ErrorMessage
			end if
			showErrorDlg L_HTTPError_HTMLTitle, L_ErrorPostingXML_ErrorMessage, sDetails, ERROR_ICON_ALERT
		elseif Err.number <> 0 then
			showErrorDlg L_HTTPError_HTMLTitle, L_ErrorPostingXML_ErrorMessage, sGetScriptError(Err), ERROR_ICON_ALERT
		end if
		sDebugText = sDebugText & "<b>status:</b><br>" & oXMLHTTPObj.status & " -- " & oXMLHTTPObj.statusText & "<p>"

		sDebugText = sDebugText & "<b>returned (text):</b><br>" & oXMLHTTPObj.responseText
		if bDebug then
			'shows sent and received
			showModalDialog "<%= g_sBizDeskRoot %>include/dlg_debug.htm", sDebugText, ""
		end if

		set xmlPostFormViaXML = oXMLHTTPObj.responseXML
	end function
'-->
</SCRIPT>
